<html>
    <head>
        <title>Error</title>
    </head>
    <body>
        <center>
            <h1>{{ statusCode }} : {{ statusMessage }}</h1>
            <p><em>{{ message }}</em></p>
        </center>
    </body>
</html>
